.centro {
    text-align: center;
}

.centrar-jumbotron {
    margin: 3%;
}

.alinear-login {
    margin-left: 40%;
}

.tamano-input {
    width: 30%;
}

.margen-form {
    margin: 15%;
}

.ancho-pre {
    max-width: 50%;
    max-height: 200px;
}

.usuarios {
    font-size: 2.5em;
    margin-left: 30%;
}

.pokemon {
    font-size: 1.5em;
}