<div class="div-inicio">

    <div class="leyenda text-center">
        <p>Esta aplicación tiene el objetivo de ayudar a localizar oficinas, salas y elementos de la facultad de Ingeniería de Sistemas de una manera dinámica, dentro de un plano a escala del segundo piso de la facultad.</p>
    </div>
    <div>
        <img src="/images/fis.jpg" class="img-responsive center-block img-rounded" alt="imagen facultad de ingeniería en sistemas" width="450" height="320">
    </div>
</div>