<div id="menu-izquierda">
    <ul id="menu-ul">
        <li><a href="#consejofis" id="info1" class="menu-li" onclick="consejo();" tabindex="3">Consejo FIS</a></li>
        <li><a href="#docentes" id="info2" class="menu-li" onclick="docentes();" tabindex="4">Docentes</a></li>
    </ul>
</div>
<div id="contenido-derecha"> </div>