<div>
    <ul id="menu-ul">
        <li><a href="#mapa1" id="mapa1" class="menu-li" onclick="menu();" tabindex="6">Mapa1</a></li>
        <li><a href="#mapa2" id="mapa2" class="menu-li" onclick="menu2();" tabindex="7">Mapa2</a></li>
    </ul>
</div>