<!DOCTYPE html>
<html lang="es">

<head>
    <title>PlanoB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="plano2.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="animado.js" type="text/javascript"></script>
    <script src="jquery.svg.js"></script>
    <script src="jquery.svganim.js"></script>
    <link rel="stylesheet" href="jquery-ui.css">
    <script src="jquery-ui.js"></script>
    <script src="jquery-ui.min.js"></script>
    <script src="tooltip.js"></script>
</head>

<body>
    <div id="dialog" title="Basic dialog">

    </div>

    <button id="animar" onclick="drawShape()">mover</button>
    <svg id="plano" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1050 1000" aria-labelledby="text" aria-describedby="desc">
        <title>Mapa accesible facultad de ingenieria de sistemas</title>
        <!--Codigo del grid-->
        <defs>
            <pattern id="grid20" width="10" height="10" patternUnits="userSpaceOnUse">
                <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1" />
            </pattern>
        </defs>
        <rect fill="white" height="100%" width="100%" y="0"></rect>
        <rect fill="url(#grid20)" height="1100" width="1100" y="0"></rect>

        <!--BLOQUE B DE OFICINAS-->

        <g>
            <title>Bodega1</title>
            <path id="Bodega1" class="oficinasB poppuphelper" d="M 912.68,491.00
               C 912.68,491.00 912.67,548.35 912.67,548.35
               912.67,548.35 774.69,548.37 774.69,548.37
               774.69,548.37 774.74,491.02 774.74,491.02
               774.74,491.02 912.68,491.00 912.68,491.00 Z" role="img" addinfo="Bodega1" />

            <text addinfo="Bodega1" id="BodegaTip" tabindex="11" class="texto poppuphelper" y="30" x="35">
                <textPath xlink:href="#Bodega1" startOffset="75%">
                    Bodega
                </textPath>
            </text>
            <desc id="Bodega12">
                Bodega de implementos </desc>
        </g>
        <g>
            <title>Denys Flores</title>
            <path id="DenysFlores" class="oficinasB poppuphelper" d="M 1004.28,491.04
                  C 1004.28,491.04 1004.28,584.37 1004.28,584.37
                  1004.28,584.37 912.64,584.28 912.64,584.28
                  912.64,584.28 912.64,491.11 912.64,491.11
                  912.64,491.11 1004.28,491.04 1004.28,491.04 Z
                  M 1040.00,471.09" role="img" addinfo="DenysFlores" />
            <title>DenysFlores</title>
            <a xlink:href="http://campus.virtualepn.edu.ec/">
                <text class="texto poppuphelper" y="30" x="35" tabindex="10" addinfo="DenysFlores" titulo="Denys Flores">
                    <textPath xlink:href="#DenysFlores" startOffset="78%">
                        Denys Flores
                    </textPath>
                </text>
            </a>
            <desc id="DenysFlores2"> Oficina de Denys Flores, dicta materias de Seguridad de la Información</desc>
        </g>

        <g>
            <title>Sandra Sánchez</title>
            <path id="SandraSanchez" class="oficinasB poppuphelper" d="M 1004.39,584.44
               C 1004.39,584.44 1004.48,679.68 1004.48,679.68
               1004.48,679.68 912.45,679.73 912.45,679.73
               912.45,679.73 912.52,584.42 912.52,584.42
               912.52,584.42 1004.39,584.44 1004.39,584.44 Z" role="img" addinfo="SandraSanchez" />
            <text addinfo="SandraSanchez" titulo="Sandra Sánchez" class="texto poppuphelper" y="30" x="45" tabindex="9">
                <textPath xlink:href="#SandraSanchez" startOffset="75%">
                    Sandra Sánchez
                </textPath>
            </text>
            <desc id="SandraSánchez2"> Oficina de la ingeniera Sandra Sanchez</desc>
        </g>
        <g>
            <title>Julián Galindo</title>
            <path id="JulianGalindo" class="oficinasB poppuphelper" d="M 1004.71,679.66
               C 1004.71,679.66 1004.71,767.22 1004.71,767.22
               1004.71,767.22 912.48,767.35 912.48,767.35
               912.48,767.35 912.48,679.78 912.48,679.78
               912.48,679.78 1004.71,679.66 1004.71,679.66 Z
               M 1298.00,674.50" role="img" addinfo="JulianGalindo" />
            <text addinfo="JulianGalindo" titulo="Julián Galindo" class="texto poppuphelper" y="30" x="45" tabindex="8">
                <textPath xlink:href="#JulianGalindo" startOffset="75%">
                    Julián Galindo
                </textPath>
            </text>
            <desc id="JuliánGalindo2"> Oficina del ingeniero Julián Galindo</desc>
        </g>
        <g>
            <title>Carlos Montenegro</title>
            <path id="CarlosMontenegro" class="oficinasB poppuphelper" d="M 1004.70,767.41
               C 1004.70,767.41 1004.70,854.41 1004.70,854.41
               1004.70,854.41 912.46,854.41 912.46,854.41
               912.46,854.41 912.46,767.41 912.46,767.41
               912.46,767.41 1004.70,767.41 1004.70,767.41 Z
               M 1298.00,587.50" role="img" addinfo="CarlosMontenegro" />
            <text addinfo="CarlosMontenegro" titulo="Carlos Montenegro" class="texto poppuphelper" y="30" x="45" tabindex="7">
                <textPath xlink:href="#CarlosMontenegro" startOffset="75%">
                    Carlos Montenegro
                </textPath>
            </text>
            <desc id="CarlosMontenegro2"> Oficina del ingeniero Carlos Montenegro</desc>
        </g>
        <g>
            <title>MonserratteIntriago e IvanCarrera</title>
            <path id="MonserratteIntriago-IvanCarrera" class="oficinasB poppuphelper" d="M 1004.69,854.42
               C 1004.69,854.42 1004.69,941.42 1004.69,941.42
               1004.69,941.42 815.19,941.17 815.19,941.17
               815.19,941.17 815.19,854.17 815.19,854.17
               815.19,854.17 1004.69,854.42 1004.69,854.42 Z" role="img" addinfo="MonserratteIntriago-IvanCarrera" />
            <desc id="MonserratteIntriago-IvanCarrera2"> Oficina de los ingenieros MonserratteIntriago e IvanCarrera</desc>
            <text addinfo="MonserratteIntriago-IvanCarrera" titulo="MonserratteIntriago e IvanCarrera" class="texto poppuphelper" y="40" x="35" tabindex="5">
                <textPath xlink:href="#MonserratteIntriago-IvanCarrera" startOffset="75%">
                    Monserratte Intriago
                </textPath>
            </text>

            <text addinfo="MonserratteIntriago-IvanCarrera" titulo="MonserratteIntriago e IvanCarrera" class="texto poppuphelper" y="50" x="35" tabindex="6">
                <textPath xlink:href="#MonserratteIntriago-IvanCarrera" startOffset="75%">
                    Ivan Carrera
                </textPath>
            </text>
        </g>
        <g>
            <title>Rosa Navarrete</title>
            <path id="RosaNavarrete" class="oficinasB poppuphelper" d="M 815.07,854.15
               C 815.07,854.15 815.07,941.19 815.07,941.19
               815.07,941.19 714.82,941.56 714.82,941.56
               714.82,941.56 714.82,854.52 714.82,854.52
               714.82,854.52 815.07,854.15 815.07,854.15 Z" role="img" addinfo="RosaNavarrete" />
            <desc id="RosaNavarrete2"> Oficina de la ingeniera RosaNavarrete</desc>
            <text addinfo="RosaNavarrete" titulo="Rosa Navarrete" class="texto poppuphelper" y="30" x="45" tabindex="4">
                <textPath xlink:href="#RosaNavarrete" startOffset="280">
                    RosaNavarrete
                </textPath>
            </text>
        </g>
        <g>
            <title>María Hallo</title>
            <path id="MariaHallo" class="oficinasB poppuphelper" d="M 714.70,854.49
               C 714.70,854.49 714.70,941.67 714.70,941.67
               714.70,941.67 613.34,941.60 613.34,941.60
               613.34,941.60 613.34,854.42 613.34,854.42
               613.34,854.42 714.70,854.49 714.70,854.49 Z" role="img" addinfo="MariaHallo" />
            <text addinfo="MariaHallo" titulo="María Hallo" class="texto poppuphelper" y="30" x="45" tabindex="3">
                <textPath xlink:href="#MariaHallo" startOffset="75%">
                    María Hallo
                </textPath>
            </text>
            <desc id="MaríaHallo2"> Oficina de la ingeniera María Hallo</desc>
        </g>
        <g>
            <title>Raúl Cordova</title>
            <path id="RaúlCordova" class="oficinasB poppuphelper" d="M 612.97,854.67
               C 612.97,854.67 612.97,941.76 612.97,941.76
               612.97,941.76 511.83,941.58 511.83,941.58
               511.83,941.58 511.83,854.48 511.83,854.48
               511.83,854.48 612.97,854.67 612.97,854.67 Z" role="img" addinfo="RaúlCordova" />
            <text addinfo="RaúlCordova" titulo="Raúl Cordova" class="texto poppuphelper" y="30" x="45" tabindex="2">
                <textPath xlink:href="#RaúlCordova" startOffset="75%">
                    RaúlCordova
                </textPath>
            </text>
            <desc id="RaúlCordova2"> Oficina del ingeniero Raúl Cordova</desc>
        </g>
        <g>
            <title>Desconocida</title>
            <path id="Desconocida" class="oficinasB poppuphelper" d="M 774.70,722.34
               C 774.70,722.34 774.70,808.34 774.70,808.34
               774.70,808.34 674.95,808.34 674.95,808.34
               674.95,808.34 674.95,722.34 674.95,722.34
               674.95,722.34 774.70,722.34 774.70,722.34 Z" role="img" addinfo="Desconocida" />
            <text addinfo="Desconocida" titulo="Desconocida" class="texto poppuphelper" y="30" x="45" tabindex="16">
                <textPath xlink:href="#Desconocida" startOffset="75%">
                    Desconocida
                </textPath>
            </text>
            <desc id="Desconocida2"> Oficina Desconocida</desc>
        </g>
        <g>
            <title>Carlos Iñiguez</title>
            <path id="CarlosIñiguez" class="oficinasB poppuphelper" d="M 866.43,722.54
               C 866.43,722.54 866.43,808.20 866.43,808.20
               866.43,808.20 774.69,808.24 774.69,808.24
               774.69,808.24 774.69,722.58 774.69,722.58
               774.69,722.58 866.43,722.54 866.43,722.54 Z
               M 240.50,398.50" role="img" addinfo="CarlosIñiguez" />
            <text addinfo="CarlosIñiguez" titulo="Carlos Iñiguez" class="texto poppuphelper" y="40" x="45" tabindex="15">
                <textPath xlink:href="#CarlosIñiguez" startOffset="75%">
                    CarlosIñiguez
                </textPath>
            </text>
            <desc id="CarlosIñiguez2"> Oficina del ingeniero Carlos Iñiguez</desc>
        </g>
        <g>
            <title>Accesibilidad Web</title>
            <path id="AccesibilidadWeb" class="oficinasB poppuphelper" d="M 866.45,635.13
               C 866.45,635.13 866.45,722.63 866.45,722.63
               866.45,722.63 774.79,722.63 774.79,722.63
               774.79,722.63 774.66,635.09 774.66,635.09
               774.66,635.09 866.45,635.13 866.45,635.13 Z
               M 1298.00,674.50" role="img" addinfo="AccesibilidadWeb" />
            <text addinfo="AccesibilidadWeb" class="texto poppuphelper" y="40" x="45" tabindex="14">
                <textPath xlink:href="#AccesibilidadWeb" startOffset="75%">
                    AccesibilidadWeb
                </textPath>
            </text>
            <desc id="AccesibilidadWeb2"> Oficina del ingeniero Accesibilidad Web</desc>
        </g>
        <g>
            <title>JhonathanBarriga y PatricioZambrano</title>
            <path id="JhonathanBarriga-PatricioZambrano" class="oficinasB poppuphelper" d="M 866.49,548.36
               C 866.49,548.36 866.49,635.04 866.49,635.04
               866.49,635.04 774.66,635.06 774.66,635.06
               774.66,635.06 774.70,548.37 774.70,548.37
               774.70,548.37 866.49,548.36 866.49,548.36 Z
               M 1219.00,678.50" role="img" addinfo="JhonathanBarriga-PatricioZambrano" />
            <desc id="JhonathanBarriga-PatricioZambrano2"> Oficina de los ingenieros JhonathanBarriga PatricioZambrano</desc>
            <text addinfo="JhonathanBarriga-PatricioZambrano" class="texto poppuphelper" y="40" x="35" tabindex="12">
                <textPath xlink:href="#JhonathanBarriga-PatricioZambrano" startOffset="78%">
                    JhonathanBarriga
            </text>

            <text addinfo="JhonathanBarriga-PatricioZambrano" class="texto poppuphelper" y="50" x="35" tabindex="13">
                <textPath xlink:href="#JhonathanBarriga-PatricioZambrano" startOffset="78%">
                    PatricioZambrano
                </textPath>
            </text>
        </g>
        <g>
            <title>Postgrados</title>
            <path id="Postgrados" class="oficinasB poppuphelper" d="M 774.73,491.00
               C 774.73,491.00 774.65,630.73 774.65,630.73
               774.65,630.73 774.44,701.49 774.69,722.24
               757.84,722.24 697.36,722.16 674.86,722.16
               674.83,721.13 674.91,631.52 674.86,631.47
               675.06,631.61 511.56,631.50 511.56,631.50
               511.56,631.50 511.76,491.03 511.76,491.03
               511.76,491.03 774.73,491.00 774.73,491.00 Z
               M 1299.00,674.50" role="img" addinfo="Postgrados" />
            <text addinfo="Postgrados" class="texto poppuphelper" y="30" x="35" tabindex="17">
                <textPath xlink:href="#Postgrados" startOffset="75%">
                    Postgrados
                </textPath>
            </text>
            <desc id="Postgrados2"> Oficina de los ingenieros Tania Pazmiño, etc.</desc>
        </g>
        <g>
            <title>Bodega2</title>
            <path id="Bodega2" class="oficinasB poppuphelper" d="M 674.88,631.63
               C 674.88,631.63 674.85,722.30 674.85,722.30
               674.85,722.30 511.57,722.53 511.57,722.53
               511.57,722.53 511.56,631.63 511.56,631.63
               511.56,631.63 674.88,631.63 674.88,631.63 Z
               M 1298.00,674.50" role="img" addinfo="Bodega2" />
            <text addinfo="Bodega2" class="texto poppuphelper" y="30" x="45" tabindex="18">
                <textPath xlink:href="#Bodega2" startOffset="280">
                    Bodega2
                </textPath>
            </text>
            <desc id="Bodega22">Bodega de limpieza </desc>
        </g>
        <path id="Pared2" fill="none" stroke="black" stroke-width="1" d="M 511.64,741.73
            C 511.64,741.73 511.64,769.54 511.64,769.54" />
        <!--Puertas BLOQUE B-->
        <g>
            <title>Puerta Oficinas B</title>
            <path id="PuertaPrincipalB" fill="none" stroke="black" stroke-width="1" d="M 531.56,722.52
               C 531.56,722.52 531.56,723.26 531.56,723.26
               531.56,723.26 511.56,723.26 511.56,723.26
               511.56,723.26 511.56,722.52 511.56,722.52
               511.56,722.52 531.56,722.52 531.56,722.52 Z
               M 511.57,741.61
               C 520.17,741.61 531.53,731.60 531.58,723.21" addinfo="PuertaPrincipalB" />
            <desc id="PuertaPrincipalB2">Entrada a la segunda area de oficinas </desc>
        </g>
        <path id="PuertaD" fill="none" stroke="black" stroke-width="1" d="M 675.87,788.26
            C 675.87,788.26 675.87,808.26 675.87,808.26
            675.87,808.26 675.05,808.28 675.05,808.28
            675.05,808.28 675.06,788.28 675.06,788.28
            675.06,788.28 675.87,788.26 675.87,788.26 Z
            M 675.88,788.34
            C 689.91,788.45 694.94,801.19 695.19,808.44" />
        <path id="PuertaRN" fill="none" stroke="black" stroke-width="1" d="M 715.62,854.47
            C 715.62,854.47 715.62,874.47 715.62,874.47
            715.62,874.47 714.80,874.48 714.80,874.48
            714.80,874.48 714.81,854.48 714.81,854.48
            714.81,854.48 715.62,854.47 715.62,854.47 Z
            M 715.64,874.49
            C 723.84,874.22 735.70,863.73 735.56,854.45" />
        <path id="PuertaRC" fill="none" stroke="black" stroke-width="1" d="M 512.61,854.47
            C 512.61,854.47 512.61,874.47 512.61,874.47
            512.61,874.47 511.79,874.48 511.79,874.48
            511.79,874.48 511.80,854.48 511.80,854.48
            511.80,854.48 512.61,854.47 512.61,854.47 Z
            M 512.57,874.46
            C 520.77,874.18 531.73,864.64 531.91,854.55" />
        <path id="PuertaSS" fill="none" stroke="black" stroke-width="1" d="M 932.49,679.01
            C 932.49,679.01 932.49,679.75 932.49,679.75
            932.49,679.75 912.49,679.75 912.49,679.75
            912.49,679.75 912.49,679.01 912.49,679.01
            912.49,679.01 932.49,679.01 932.49,679.01 Z
            M 912.69,659.63
            C 923.06,659.88 932.53,670.56 932.53,679.00" />
        <path id="PuertaJG" fill="none" stroke="black" stroke-width="1" d="M 932.51,679.77
            C 932.51,679.77 932.51,680.51 932.51,680.51
            932.51,680.51 912.51,680.51 912.51,680.51
            912.51,680.51 912.51,679.77 912.51,679.77
            912.51,679.77 932.51,679.77 932.51,679.77 Z
            M 912.55,700.64
            C 925.18,700.64 932.50,688.94 932.55,680.55" />
        <path id="PuertaDF" fill="none" stroke="black" stroke-width="1" d="M 932.61,574.48
            C 932.61,574.48 932.61,575.22 932.61,575.22
            932.61,575.22 912.61,575.22 912.61,575.22
            912.61,575.22 912.61,574.48 912.61,574.48
            912.61,574.48 932.61,574.48 932.61,574.48 Z
            M 912.50,555.13
            C 925.63,555.38 932.63,566.13 932.63,574.56" />
        <path id="PuertaCM" fill="none" stroke="black" stroke-width="1" d="M 912.38,854.27
            C 912.38,854.27 912.38,874.27 912.38,874.27
            912.38,874.27 911.56,874.29 911.56,874.29
            911.56,874.29 911.57,854.29 911.57,854.29
            911.57,854.29 912.38,854.27 912.38,854.27 Z
            M 911.51,874.27
            C 902.01,874.24 888.64,865.57 888.64,854.03" />
        <path id="PuertaMH" fill="none" stroke="black" stroke-width="1" d="M 714.67,854.48
            C 714.67,854.48 714.67,874.48 714.67,874.48
            714.67,874.48 713.85,874.49 713.85,874.49
            713.85,874.49 713.86,854.49 713.86,854.49
            713.86,854.49 714.67,854.48 714.67,854.48 Z
            M 713.79,874.43
            C 704.29,874.40 693.82,866.00 693.73,854.73" />
        <path id="PuertaMIIC" fill="none" stroke="black" stroke-width="1" d="M 932.50,853.61
            C 932.50,853.61 932.50,854.35 932.50,854.35
            932.50,854.35 912.50,854.35 912.50,854.35
            912.50,854.35 912.50,853.61 912.50,853.61
            912.50,853.61 932.50,853.61 932.50,853.61 Z
            M 932.48,853.57
            C 932.18,843.82 924.36,833.82 912.55,833.82" />
        <path id="PuertaCI" fill="none" stroke="black" stroke-width="1" d="M 866.37,788.20
            C 866.37,788.20 866.36,808.20 866.36,808.20
            866.36,808.20 865.55,808.22 865.55,808.22
            865.55,808.22 865.55,788.22 865.55,788.22
            865.55,788.22 866.37,788.20 866.37,788.20 Z
            M 865.59,788.22
            C 855.38,788.25 846.38,797.50 846.25,808.19" />
        <path id="PuertaAW" fill="none" stroke="black" stroke-width="1" d="M 866.39,721.85
            C 866.39,721.85 866.39,722.59 866.39,722.59
            866.39,722.59 846.39,722.59 846.39,722.59
            846.39,722.59 846.39,721.85 846.39,721.85
            846.39,721.85 866.39,721.85 866.39,721.85 Z
            M 846.39,721.88
            C 846.43,714.99 855.25,702.69 866.25,702.63" />
        <path id="PuertaJBPZ" fill="none" stroke="black" stroke-width="1" d="M 866.44,565.98
            C 866.44,565.98 866.44,566.72 866.44,566.72
            866.44,566.72 846.44,566.72 846.44,566.72
            846.44,566.72 846.44,565.98 846.44,565.98
            846.44,565.98 866.44,565.98 866.44,565.98 Z
            M 846.45,565.96
            C 846.49,559.06 857.19,548.50 866.38,548.44" />
        <path id="PuertaB2" fill="none" stroke="black" stroke-width="1" d="M 531.61,693.36
            C 531.61,693.36 531.61,694.10 531.61,694.10
            531.61,694.10 511.61,694.10 511.61,694.10
            511.61,694.10 511.61,693.36 511.61,693.36
            511.61,693.36 531.61,693.36 531.61,693.36 Z
            M 511.63,674.31
            C 521.13,674.63 531.64,685.02 531.64,693.46" />
        <path id="PuertaPostG" fill="none" stroke="black" stroke-width="1" d="M 531.56,630.88
            C 531.56,630.88 531.56,631.62 531.56,631.62
            531.56,631.62 511.56,631.62 511.56,631.62
            511.56,631.62 511.56,630.88 511.56,630.88
            511.56,630.88 531.56,630.88 531.56,630.88 Z
            M 511.44,611.75
            C 521.56,611.94 531.56,622.40 531.56,630.84" />
        <!--BAÑOS y OTROS-->
        <g>
            <title>Baño de Mujeres</title>
            <path id="BañoMujeres" class="poppuphelper" fill="none" stroke="black" stroke-width="1" d="M 511.77,767.81
               C 511.77,767.81 511.86,941.67 511.86,941.67
               511.86,941.67 410.58,941.80 410.58,941.80
               410.58,941.80 410.58,820.99 410.55,812.00
               421.92,811.98 435.66,812.02 435.99,812.04
               435.84,811.68 435.98,767.81 435.98,767.81
               435.98,767.81 511.77,767.81 511.77,767.81 Z
               M 401.13,930.88" role="img" addinfo="BañoMujeres" />
            <text addinfo="BañoMujeres" class="texto poppuphelper" y="80" x="35" tabindex="19">
                <textPath xlink:href="#BañoMujeres" startOffset="86%">
                    Baño Mujeres
                </textPath>
            </text>
            <desc id="BañoMujeres2">Baño de docentes de mujeres </desc>
        </g>
        <path id="PuertaBod1" fill="none" stroke="black" stroke-width="1" d="M 910.67,528.19
            C 910.67,528.19 910.67,548.19 910.67,548.19
            910.67,548.19 909.85,548.21 909.85,548.21
            909.85,548.21 909.86,528.21 909.86,528.21
            909.86,528.21 910.67,528.19 910.67,528.19 Z
            M 909.91,528.31
            C 899.70,528.34 890.70,537.59 890.58,548.28" />
        <g>
            <title>Baño de Hombres</title>
            <path id="BañoHombres" class="poppuphelper" fill="none" stroke="black" stroke-width="1" d="M 385.04,768.68
               C 385.04,768.68 385.00,799.48 385.00,812.11
               389.22,812.13 404.69,812.13 410.56,812.01
               410.70,860.38 410.56,941.76 410.56,941.76
               410.56,941.76 309.04,941.81 309.04,941.81
               308.91,936.09 309.20,777.86 309.06,768.73
               309.06,768.73 385.04,768.68 385.04,768.68 Z
               M 409.67,811.00" role="img" addinfo="BañoHombres" />
            <text addinfo="BañoHombres" class="texto poppuphelper" y="80" x="35" tabindex="20">
                <textPath xlink:href="#BañoHombres" startOffset="87%">
                    Baño Hombres
                </textPath>
            </text>

            <desc id="BañoHombres2">Baño de docentes de hombres </desc>
        </g>
        <g>
            <title>Victor Armijos</title>
            <path id="VictorArmijos" class="oficinasA poppuphelper" d="M 385.03,720.12
               C 385.03,720.12 385.02,768.83 385.02,768.83
               385.02,768.83 309.14,768.65 309.14,768.65
               309.14,768.65 309.06,720.15 309.06,720.15
               309.06,720.15 385.03,720.12 385.03,720.12 Z" role="img" addinfo="VictorArmijos" />
            <text addinfo="VictorArmijos" class="texto poppuphelper" y="30" x="35" tabindex="21">
                <textPath xlink:href="#VictorArmijos" startOffset="72%">
                    Victor Armijos
                </textPath>
            </text>
            <desc id="VictorArmijos2">Oficina del señor conserje Victor Armijos</desc>
        </g>
        <!--Puertas de BAÑOS y OTROS-->
        <path id="PuertaBH" fill="none" stroke="black" stroke-width="1" d="M 385.02,774.65
            C 385.02,774.65 385.02,775.38 385.02,775.38
            385.02,775.38 365.02,775.38 365.02,775.38
            365.02,775.38 365.02,774.65 365.02,774.65
            365.02,774.65 385.02,774.65 385.02,774.65 Z
            M 384.88,794.50
            C 372.75,794.38 364.69,781.00 364.83,775.16" />
        <path id="PuertaBM" fill="none" stroke="black" stroke-width="1" d="M 456.02,774.15
            C 456.02,774.15 456.02,774.89 456.02,774.89
            456.02,774.89 436.02,774.89 436.02,774.89
            436.02,774.89 436.02,774.15 436.02,774.15
            436.02,774.15 456.02,774.15 456.02,774.15 Z
            M 435.82,795.64
            C 448.36,795.45 455.95,783.36 456.00,774.97" />
        <path id="PuertaVA" fill="none" stroke="black" stroke-width="1" d="M 385.02,730.35
            C 385.02,730.35 385.02,731.09 385.02,731.09
            385.02,731.09 365.02,731.09 365.02,731.09
            365.02,731.09 365.02,730.35 365.02,730.35
            365.02,730.35 385.02,730.35 385.02,730.35 Z
            M 384.82,749.64
            C 373.27,749.36 364.88,736.85 365.02,731.02" />
        <!--BLOQUE A DE OFICINAS-->
        <g>
            <title>Bolivar Palán</title>
            <path id="BolivarPalan" class="oficinasA poppuphelper" d="M 454.42,490.95
               C 454.42,490.95 454.42,584.88 454.42,584.88
               454.42,584.88 361.28,584.94 361.28,584.94
               361.28,584.94 361.28,491.02 361.28,491.02
               361.28,491.02 454.42,490.95 454.42,490.95 Z
               M 458.33,721.67" role="img" addinfo="BolivarPalan" />
            <text addinfo="BolivarPalan" class="texto poppuphelper" y="30" x="35" tabindex="22">
                <textPath xlink:href="#BolivarPalan" startOffset="79%">
                    Bolivar Palan
                </textPath>
            </text>
            <desc id="BolivarPalan2">Oficina del ingeniero Bolivar Palán</desc>
        </g>
        <g>
            <title>Andrés Larco</title>
            <path id="AndresLarco" class="oficinasA poppuphelper" d="M 361.42,490.93
               C 361.42,490.93 361.42,584.85 361.42,584.85
               361.42,584.85 268.28,584.92 268.28,584.92
               268.28,584.92 268.28,491.00 268.28,491.00
               268.28,491.00 361.42,490.93 361.42,490.93 Z
               M 458.33,721.67" role="img" addinfo="AndresLarco" />
            <text addinfo="AndresLarco" titulo="Andres Larco" class="texto poppuphelper" y="30" x="35" tabindex="23">
                <textPath xlink:href="#AndresLarco" startOffset="79%">
                    Andrés Larco
                </textPath>
            </text>
            <desc id="AndresLarco2">Oficina del ingeniero Andres Larco</desc>
        </g>
        <g>
            <title>Julio Sandobalin</title>
            <path id="JulioSandobalin" class="oficinasA poppuphelper" d="M 268.14,491.02
               C 268.14,491.02 268.14,584.94 268.14,584.94
               268.14,584.94 175.01,585.01 175.01,585.01
               175.01,585.01 175.01,491.09 175.01,491.09
               175.01,491.09 268.14,491.02 268.14,491.02 Z
               M 458.33,721.67" role="img" addinfo="JulioSandobalin" />
            <text addinfo="JulioSandobalin" class="texto poppuphelper" y="30" x="35" tabindex="24">
                <textPath xlink:href="#JulioSandobalin" startOffset="80%">
                    Julio Sandobalin
                </textPath>
                <desc id="JulioSandobalin2">Oficina del ingeniero Julio Sandobalin</desc>
            </text>
        </g>
        <g>
            <title>Marco Santorum</title>
            <path id="MarcoSantorum" class="oficinasA poppuphelper" d="M 174.87,491.20
               C 174.87,491.20 174.87,585.13 174.87,585.13
               174.87,585.13 54.98,585.19 54.98,585.19
               54.98,585.19 54.98,491.27 54.98,491.27
               54.98,491.27 174.87,491.20 174.87,491.20 Z
               M 358.33,721.67" role="img" addinfo="MarcoSantorum" />
            <text addinfo="MarcoSantorum" class="texto poppuphelper" y="30" x="35" tabindex="25">
                <textPath xlink:href="#MarcoSantorum" startOffset="78%">
                    Marco Santorum
                </textPath>
            </text>
            <desc id="MarcoSantorum2">Oficina del ingeniero Marco Santorum</desc>
        </g>
        <g>
            <title>Myriam Hernandez</title>
            <path id="MyriamHernandez" class="oficinasA poppuphelper" d="M 148.18,585.08
               C 148.18,585.08 148.18,675.37 148.18,675.37
               148.18,675.37 55.05,675.44 55.05,675.44
               55.05,675.44 55.05,585.15 55.05,585.15
               55.05,585.15 148.18,585.08 148.18,585.08 Z
               M 258.33,811.67" role="img" addinfo="MyriamHernandez" />
            <text addinfo="MyriamHernandez" class="texto poppuphelper" y="30" x="35" tabindex="26">
                <textPath xlink:href="#MyriamHernandez" startOffset="78%">
                    Myriam Hernandez
                </textPath>
            </text>
            <desc id="MyriamHernandez2">Oficina de la ingeniera Myriam Hernandez</desc>
        </g>
        <g>
            <title>Mayra Carrion</title>
            <path id="MayraCarrion" class="oficinasA poppuphelper" d="M 148.18,675.33
               C 148.18,675.33 148.18,765.62 148.18,765.62
               148.18,765.62 55.05,765.69 55.05,765.69
               55.05,765.69 55.05,675.40 55.05,675.40
               55.05,675.40 148.18,675.33 148.18,675.33 Z
               M 258.33,941.67" role="img" addinfo="MayraCarrion" />

            <text addinfo="MayraCarrion" class="texto poppuphelper" y="30" x="35" tabindex="27">
                <textPath xlink:href="#MayraCarrion" startOffset="79%">
                    Mayra Carrion
                </textPath>
            </text>
            <desc id="MayraCarrion2">Oficina de la ingeniera Mayra Carrion</desc>
        </g>
        <g>
            <title>Gabriela Suntaxi</title>
            <path id="GabrielaSuntaxi" class="oficinasA poppuphelper" d="M 148.18,765.58
               C 148.18,765.58 148.18,855.87 148.18,855.87
               148.18,855.87 55.05,855.94 55.05,855.94
               55.05,855.94 55.05,765.65 55.05,765.65
               55.05,765.65 148.18,765.58 148.18,765.58 Z
               M 268.33,1071.67" role="img" addinfo="GabrielaSuntaxi" />
            <text addinfo="GabrielaSuntaxi" class="texto poppuphelper" y="30" x="35" tabindex="28">
                <textPath xlink:href="#GabrielaSuntaxi" startOffset="79%">
                    Gabriela Suntaxi
                </textPath>
            </text>
            <desc id="GabrielaSuntaxi2">Oficina de la ingeniera Gabriela Suntaxi</desc>
        </g>
        <g>
            <title>Gustavo Samaniego</title>
            <path id="GustavoSamaniego" class="oficinasA poppuphelper" d="M 148.18,855.91
               C 148.18,855.91 148.18,941.20 148.18,941.20
               148.18,941.20 55.05,941.27 55.05,941.27
               55.05,941.27 55.05,855.98 55.05,855.98
               55.05,855.98 148.18,855.91 148.18,855.91 Z
               M 268.33,1071.67" role="img" addinfo="GustavoSamaniego" />
            <text addinfo="GustavoSamaniego" class="texto poppuphelper" y="30" x="35" tabindex="29">
                <textPath xlink:href="#GustavoSamaniego" startOffset="78%">
                    Gustavo Samaniego
                </textPath>
            </text>
            <desc id="GustavoSamaniego2">Oficina del ingeniero Gustavo Samaniego</desc>
        </g>
        <g>
            <title>Enrique Mafla</title>
            <path id="EnriqueMafla" class="oficinasA poppuphelper" d="M 308.85,850.91
               C 308.85,850.91 308.85,941.20 308.85,941.20
               308.85,941.20 218.38,941.27 218.38,941.27
               218.38,941.27 218.38,850.98 218.38,850.98
               218.38,850.98 308.85,850.91 308.85,850.91 Z
               M 411.33,1062.67" role="img" addinfo="EnriqueMafla" />
            <text addinfo="EnriqueMafla" class="texto poppuphelper" y="30" x="35" tabindex="30">
                <textPath xlink:href="#EnriqueMafla" startOffset="79%">
                    Enrique Mafla
                </textPath>
            </text>
            <desc id="EnriqueMafla2">Oficina del ingeniero Enrique Mafla</desc>
        </g>
        <g>
            <title>Tania Calle</title>
            <path id="TaniaCalle" class="oficinasA poppuphelper" d="M 308.85,760.91
               C 308.85,760.91 308.85,851.20 308.85,851.20
               308.85,851.20 218.38,851.27 218.38,851.27
               218.38,851.27 218.38,760.98 218.38,760.98
               218.38,760.98 308.85,760.91 308.85,760.91 Z
               M 411.33,1062.67" role="img" addinfo="TaniaCalle" />
            <text addinfo="TaniaCalle" class="texto poppuphelper" y="30" x="35" tabindex="31">
                <textPath xlink:href="#TaniaCalle" startOffset="79%">
                    Tania Calle
                </textPath>
            </text>
            <desc id="TaniaCalle2">Oficina de la ingeniera Tania Calle</desc>
        </g>
        <g>
            <title>Marco Benalcazar</title>
            <path id="MarcoBenalcazar" class="oficinasA poppuphelper" d="M 363.85,629.66
               C 363.85,629.66 363.85,719.95 363.85,719.95
               363.85,719.95 273.38,720.02 273.38,720.02
               273.38,720.02 273.38,629.73 273.38,629.73
               273.38,629.73 363.85,629.66 363.85,629.66 Z
               M 411.33,1062.67" role="img" addinfo="MarcoBenalcazar" />
            <text addinfo="MarcoBenalcazar" class="texto poppuphelper" y="30" x="35" tabindex="32">
                <textPath xlink:href="#MarcoBenalcazar" startOffset="79%">
                    Marco Benalcazar
                </textPath>
            </text>
            <desc id="MarcoBenalcazar2">Oficina del ingeniero Marco Benalcazar</desc>
        </g>
        <g>
            <title>MaGabriela Perez</title>
            <path id="MaGabrielaPerez" class="oficinasA poppuphelper" d="M 454.52,629.66
               C 454.52,629.66 454.52,719.95 454.52,719.95
               454.52,719.95 364.05,720.02 364.05,720.02
               364.05,720.02 364.05,629.73 364.05,629.73
               364.05,629.73 454.52,629.66 454.52,629.66 Z
               M 411.33,1062.67" role="img" addinfo="MaGabrielaPerez" />
            <text addinfo="MaGabrielaPerez" class="texto poppuphelper" y="30" x="35" tabindex="33">
                <textPath xlink:href="#MaGabrielaPerez" startOffset="78%">
                    Ma.Gabriela Perez
                </textPath>
            </text>
            <desc id="MaGabrielaPerez2">Oficina de la ingeniera María Gabriela Perez</desc>
        </g>
        <!--Puertas BLOQUE A DE OFICINAS-->
        <g>
            <title>Puerta Principal de Oficinas</title>
            <path id="PuertaOficinas" class="poppuphelper" fill="none" stroke="black" stroke-width="1" d="M 475.89,491.08
               C 475.89,491.08 475.88,511.08 475.88,511.08
               475.88,511.08 475.07,511.09 475.07,511.09
               475.07,511.09 475.07,491.09 475.07,491.09
               475.07,491.09 475.89,491.08 475.89,491.08 Z
               M 475.90,511.06
               C 484.10,510.79 495.06,501.24 495.24,491.15
               495.24,491.15 511.66,491.09 511.66,491.09M 454.44,490.94
               C 454.44,490.94 475.13,490.94 475.13,490.94" tabindex="34" addinfo="PuertaOficinas" />
            <desc id="PuertaOficinas2">Puerta de acceso a las oficinas</desc>
        </g>
        <path id="ParedA" fill="none" stroke="black" stroke-width="1" d="M 147.93,941.00
            C 147.93,941.00 218.27,941.00 218.27,941.00" />
        <path id="PuertaPrinicipalA" fill="none" stroke="black" stroke-width="1" d="M 454.43,600.21
            C 454.43,600.21 454.43,600.95 454.43,600.95
            454.43,600.95 434.43,600.95 434.43,600.95
            434.43,600.95 434.43,600.21 434.43,600.21
            434.43,600.21 454.43,600.21 454.43,600.21 Z
            M 454.64,619.82
            C 443.18,619.82 434.18,612.45 434.26,601.55
            434.32,601.36 434.35,601.17 434.35,600.97" />
        <path id="Pared2A" fill="none" stroke="black" stroke-width="1" d="M 454.41,584.86
            C 454.41,584.86 454.41,600.44 454.41,600.44" />
        <path id="Pared3A" fill="none" stroke="black" stroke-width="1" d="M 454.50,619.66
            C 454.50,619.66 454.50,629.70 454.50,629.70" />
        <path id="PuertaBP" fill="none" stroke="black" stroke-width="1" d="M 362.17,565.00
            C 362.17,565.00 362.16,585.00 362.16,585.00
            362.16,585.00 361.35,585.01 361.35,585.01
            361.35,585.01 361.35,565.01 361.35,565.01
            361.35,565.01 362.17,565.00 362.17,565.00 Z
            M 362.18,564.91
            C 376.21,565.02 381.24,577.75 381.49,585.00" />
        <path id="PuertaAL" fill="none" stroke="black" stroke-width="1" d="M 269.04,565.00
            C 269.04,565.00 269.04,585.00 269.04,585.00
            269.04,585.00 268.23,585.01 268.23,585.01
            268.23,585.01 268.23,565.01 268.23,565.01
            268.23,565.01 269.04,565.00 269.04,565.00 Z
            M 269.06,564.91
            C 283.09,565.02 288.12,577.75 288.37,585.00" />
        <path id="PuertaJS" fill="none" stroke="black" stroke-width="1" d="M 268.19,564.94
            C 268.19,564.94 268.19,584.94 268.19,584.94
            268.19,584.94 267.37,584.96 267.37,584.96
            267.37,584.96 267.38,564.96 267.38,564.96
            267.38,564.96 268.19,564.94 268.19,564.94 Z
            M 267.39,564.93
            C 257.18,564.97 248.18,574.22 248.05,584.90" />
        <path id="PuertaMS" fill="none" stroke="black" stroke-width="1" d="M 174.92,565.07
            C 174.92,565.07 174.92,585.07 174.92,585.07
            174.92,585.07 174.10,585.08 174.10,585.08
            174.10,585.08 174.11,565.08 174.11,565.08
            174.11,565.08 174.92,565.07 174.92,565.07 Z
            M 174.04,565.06
            C 163.83,565.09 154.83,574.34 154.70,585.03" />
        <path id="PuertaMyH" fill="none" stroke="black" stroke-width="1" d="M 148.40,585.17
            C 148.40,585.17 148.40,585.91 148.40,585.91
            148.40,585.91 128.40,585.91 128.40,585.91
            128.40,585.91 128.40,585.17 128.40,585.17
            128.40,585.17 148.40,585.17 148.40,585.17 Z
            M 148.00,604.73
            C 138.55,604.91 128.25,594.42 128.30,586.04" />
        <path id="PuertaGS" fill="none" stroke="black" stroke-width="1" d="M 147.82,940.36
            C 147.82,940.36 147.82,941.10 147.82,941.10
            147.82,941.10 127.82,941.10 127.82,941.10
            127.82,941.10 127.82,940.36 127.82,940.36
            127.82,940.36 147.82,940.36 147.82,940.36 Z
            M 127.82,940.21
            C 127.86,933.31 138.56,922.75 147.75,922.69" />
        <path id="PuertaMC" fill="none" stroke="black" stroke-width="1" d="M 148.30,764.82
            C 148.30,764.82 148.30,765.55 148.30,765.55
            148.30,765.55 128.30,765.55 128.30,765.55
            128.30,765.55 128.30,764.82 128.30,764.82
            128.30,764.82 148.30,764.82 148.30,764.82 Z
            M 128.32,764.79
            C 128.36,757.90 139.06,747.33 148.25,747.27" />
        <path id="PuertaMB" fill="none" stroke="black" stroke-width="1" d="M 274.16,629.81
            C 274.16,629.81 274.16,649.81 274.16,649.81
            274.16,649.81 273.34,649.82 273.34,649.82
            273.34,649.82 273.35,629.82 273.35,629.82
            273.35,629.82 274.16,629.81 274.16,629.81 Z
            M 274.15,649.77
            C 282.35,649.49 293.31,639.94 293.49,629.85" />
        <path id="PuertaGabS" fill="none" stroke="black" stroke-width="1" d="M 148.32,765.63
            C 148.32,765.63 148.32,766.36 148.32,766.36
            148.32,766.36 128.32,766.36 128.32,766.36
            128.32,766.36 128.32,765.63 128.32,765.63
            128.32,765.63 148.32,765.63 148.32,765.63 Z
            M 148.04,785.02
            C 138.59,785.20 128.29,774.71 128.34,766.33" />
        <path id="PuertaTC" fill="none" stroke="black" stroke-width="1" d="M 238.31,761.01
            C 238.31,761.01 238.31,761.75 238.31,761.75
            238.31,761.75 218.31,761.75 218.31,761.75
            218.31,761.75 218.31,761.01 218.31,761.01
            218.31,761.01 238.31,761.01 238.31,761.01 Z
            M 218.50,781.06
            C 231.05,780.88 238.20,770.13 238.25,761.74" />
        <path id="PuertaEM" fill="none" stroke="black" stroke-width="1" d="M 238.68,940.26
            C 238.68,940.26 238.68,941.00 238.68,941.00
            238.68,941.00 218.68,941.00 218.68,941.00
            218.68,941.00 218.68,940.26 218.68,940.26
            218.68,940.26 238.68,940.26 238.68,940.26 Z
            M 218.81,920.88
            C 228.94,921.06 238.94,931.53 238.94,939.97" />
        <!--Biblioteca-->
        <g>
            <title>Biblioteca</title>
            <path id="Biblioteca" class="lectura poppuphelper" d="M 820.14,56.17
               C 820.14,56.17 820.36,490.96 820.38,491.02
               819.64,491.03 512.05,490.98 512.02,491.00
               512.02,491.00 511.67,56.11 511.67,56.11
               511.67,56.11 820.14,56.17 820.14,56.17 Z" role="img" addinfo="Biblioteca" />
            <text addinfo="Biblioteca" class="texto poppuphelper" y="30" x="35" tabindex="35">
                <textPath xlink:href="#Biblioteca" startOffset="85%">
                    Biblioteca
                </textPath>
            </text>
            <desc id="Biblioteca2">Biblioteca general de la facultad de Ingeniería de Sistemas</desc>
        </g>
        <g>
            <title>Secretaria Biblioteca</title>
            <path id="SecretariaBiblioteca" class="lectura poppuphelper" d="M 1003.58,266.98
               C 1003.58,266.98 1004.08,491.06 1004.08,491.06
               1004.08,491.06 820.38,491.00 820.38,491.00
               820.38,491.00 820.14,266.98 820.14,266.98
               820.14,266.98 1003.58,266.98 1003.58,266.98 Z
               M -167.34,61.56" role="img" addinfo="SecretariaBiblioteca" />
            <text addinfo="SecretariaBiblioteca" class="texto poppuphelper" y="30" x="35" tabindex="36">
                <textPath xlink:href="#SecretariaBiblioteca" startOffset="80%">
                    Secretaria Biblioteca
                </textPath>
                <desc id="SecretariaBiblioteca2">Secretaría de la Biblioteca general de la facultad de Ingeniería de Sistemas</desc>
            </text>
        </g>
        <!--Puertas Biblioteca-->
        <path id="PuertaSecBib" fill="none" stroke="black" stroke-width="1" d="M 840.36,490.28
            C 840.36,490.28 840.36,491.01 840.36,491.01
            840.36,491.01 820.36,491.01 820.36,491.01
            820.36,491.01 820.36,490.28 820.36,490.28
            820.36,490.28 840.36,490.28 840.36,490.28 Z
            M 840.35,490.24
            C 840.05,480.49 832.23,470.49 820.41,470.49" />
        <path id="PuertaBibio" fill="none" stroke="black" stroke-width="1" d="M 531.72,161.57
            C 531.72,161.57 531.72,162.31 531.72,162.31
            531.72,162.31 511.72,162.31 511.72,162.31
            511.72,162.31 511.72,161.57 511.72,161.57
            511.72,161.57 531.72,161.57 531.72,161.57 Z
            M 531.78,162.24
            C 531.69,171.25 523.13,181.00 511.73,181.15" />
        <path id="PuertaBibio2" fill="none" stroke="black" stroke-width="1" d="M 531.84,201.06
            C 531.84,201.06 531.84,201.80 531.84,201.80
            531.84,201.80 511.84,201.80 511.84,201.80
            511.84,201.80 511.84,201.06 511.84,201.06
            511.84,201.06 531.84,201.06 531.84,201.06 Z
            M 511.83,181.18
            C 523.56,181.19 531.88,193.13 531.88,201.13" />
        <!--Rectorado-->
        <g>
            <title>Almacen Rectorado</title>
            <path id="Almacen" class="rectorado poppuphelper" d="M 294.33,416.50
               C 294.33,416.50 294.33,491.00 294.33,491.00
               294.33,491.00 55.00,491.00 55.00,491.00
               55.00,491.00 55.00,416.50 55.00,416.50
               55.00,416.50 294.33,416.50 294.33,416.50 Z" role="img" addinfo="Almacen" />
            <text addinfo="Almacen" titulo="Almacen Rectorado" class="texto poppuphelper" y="30" x="35" tabindex="37">
                <textPath xlink:href="#Almacen" startOffset="79%">
                    Almacen Rectorado
                </textPath>
            </text>
            <desc id="Almacen2">Almacen del rectorado</desc>
        </g>
        <g>
            <title>Cubiculo</title>
            <path id="Cubiculo" class="rectorado poppuphelper" d="M 233.64,348.48
               C 233.64,348.48 241.81,357.50 241.81,357.50
               241.81,357.50 241.81,416.48 241.81,416.48
               241.81,416.48 183.81,416.48 183.81,416.48
               183.81,416.48 183.81,348.48 183.81,348.48
               183.81,348.48 233.64,348.48 233.64,348.48 Z" role="img" addinfo="Cubiculo" />
            <text addinfo="Cubiculo" class="texto poppuphelper" y="30" x="35" tabindex="38">
                <textPath xlink:href="#Cubiculo" startOffset="77%">
                </textPath>
            </text>
            <desc id="Cubiculo2">Información</desc>
        </g>
        <g>
            <title>Cocina Secretaria</title>
            <path id="CocinaSecretaria" class="rectorado poppuphelper" d="M 345.00,416.63
               C 345.00,416.63 345.00,491.00 345.00,491.00
               345.00,491.00 294.00,491.00 294.00,491.00
               294.00,491.00 294.00,416.63 294.00,416.63
               294.00,416.63 345.00,416.63 345.00,416.63 Z " role="img" />
        </g>
        <g>
            <title>Decanato Myriam Hernandez</title>
            <path id="MyriamHernandezD" class="rectorado poppuphelper" d="M 183.85,267.81
               C 183.85,267.81 183.82,416.46 183.82,416.46
               183.82,416.46 55.18,416.62 55.18,416.62
               55.18,416.62 55.18,267.81 55.18,267.81
               55.18,267.81 183.85,267.81 183.85,267.81 Z" role="img" addinfo="MyriamHernandezD" />
            <text class="texto poppuphelper" addinfo="MyriamHernandezD" y="50" x="35" tabindex="39">
                <textPath xlink:href="#MyriamHernandezD" startOffset="81%">
                    Decanato
                </textPath>
            </text>
            <text class="texto poppuphelper" addinfo="MyriamHernandezD" y="70" x="35" tabindex="40">
                <textPath xlink:href="#MyriamHernandezD" startOffset="81%">
                    Myriam Hernandez
                </textPath>
            </text>
            <desc id="MyriamHernandezD2">Decana de la facultad Myriam Hernandez</desc>
        </g>
        <g>
            <title>Subdecanato Jenny Torres</title>
            <path id="JennyTorres" class="rectorado poppuphelper" d="M 183.85,55.81
               C 183.85,55.81 183.85,204.62 183.85,204.62
               183.85,204.62 55.18,204.62 55.18,204.62
               55.18,204.62 55.18,55.81 55.18,55.81
               55.18,55.81 183.85,55.81 183.85,55.81 Z" role="img" addinfo="JennyTorres" />
            <text class="texto poppuphelper" addinfo="JennyTorres" y="50" x="35" tabindex="41">
                <textPath xlink:href="#JennyTorres" startOffset="81%">
                    SubDecanato
                </textPath>
            </text>
            <text class="texto poppuphelper" addinfo="JennyTorres" y="70" x="35" tabindex="42">
                <textPath xlink:href="#JennyTorres" startOffset="81%">
                    Jenny Torres
                </textPath>
            </text>
            <desc id="JennyTorres2">Subdecana de la facultad Jenny Torres</desc>
        </g>
        <g>
            <title>Baño Rectorado</title>
            <path id="BañoRectorado" class="rectorado poppuphelper" d="M 131.50,204.75
               C 131.50,204.75 131.50,267.75 131.50,267.75
               131.50,267.75 55.00,267.75 55.00,267.75
               55.00,267.75 55.00,204.75 55.00,204.75
               55.00,204.75 131.50,204.75 131.50,204.75 Z" role="img" addinfo="BañoRectorado" />
            <text class="texto poppuphelper" addinfo="BañoRectorado" y="30" x="35" tabindex="43">
                <textPath xlink:href="#BañoRectorado" startOffset="79%">
                    Baño
                </textPath>
            </text>
            <desc id="BañoRectorado2">Baño del rectorado</desc>
        </g>
        <g>
            <title>Consejo Facultad</title>
            <path id="ConsejoFacultad" class="rectorado poppuphelper" d="M 294.39,55.93
               C 294.39,55.93 294.39,204.74 294.39,204.74
               294.39,204.74 183.98,204.74 183.98,204.74
               183.98,204.74 183.98,55.93 183.98,55.93
               183.98,55.93 294.39,55.93 294.39,55.93 Z" role="img" addinfo="ConsejoFacultad" />
            <text class="texto poppuphelper" addinfo="ConsejoFacultad" y="30" x="35" tabindex="44">
                <textPath xlink:href="#ConsejoFacultad" startOffset="82%">
                    Consejo de Facultad
                </textPath>
            </text>
            <desc id="ConsejoFacultad2">Sala de reuniones del consejo de la facultad</desc>
        </g>
        <g>
            <title>Imagen Sistemas</title>
            <path id="ImagenSistemas" class="rectorado poppuphelper" d="M 418.20,56.01
               C 418.20,56.01 418.20,204.83 418.20,204.83
               418.20,204.83 294.45,204.83 294.45,204.83
               294.45,204.83 294.45,56.01 294.45,56.01
               294.45,56.01 418.20,56.01 418.20,56.01 Z" role="img" addinfo="ImagenSistemas" />
            <text class="texto poppuphelper" addinfo="ImagenSistemas" y="30" x="35" tabindex="45">
                <textPath xlink:href="#ImagenSistemas" startOffset="79%">
                    Imagen Sistemas
                </textPath>
            </text>
            <desc id="ImagenSistemas2">Oficina de Imagen Sistemas</desc>
        </g>
        <g>
            <title>Secretaria Rectorado</title>
            <path id="SecretariaRectorado" class="rectorado poppuphelper" d="M 345.06,255.00
               C 345.06,255.00 345.00,369.97 345.00,369.97
               345.00,369.97 294.38,369.91 294.38,369.91
               294.38,369.91 294.45,254.94 294.45,254.94
               294.45,254.94 345.06,255.00 345.06,255.00 Z" role="img" addinfo="SecretariaRectorado" />
            <text class="texto poppuphelper" addinfo="SecretariaRectorado" y="30" x="35" tabindex="46">
                <textPath xlink:href="#SecretariaRectorado" startOffset="9%">
                    Secretaria Rectorado
                </textPath>
            </text>
            <desc id="SecretariaRectorado2">Oficina de Secretaría del Rectorado</desc>
        </g>
        <g>
            <title>Secretaria General</title>
            <path id="Secretaria" class="rectorado poppuphelper" d="M 418.50,255.25
               C 454.50,300.75 454.50,301.00 454.50,301.00
               454.50,301.00 454.50,491.00 454.50,491.00
               454.50,491.00 344.83,490.88 344.83,490.88
               344.83,490.88 345.17,255.21 345.17,255.21
               345.17,255.21 413.44,255.15 418.50,255.25 Z" role="img" addinfo="Secretaria" />
            <text class="texto poppuphelper" addinfo="Secretaria" y="100" x="35" tabindex="47">
                <textPath xlink:href="#Secretaria" startOffset="90%">
                    Secretaria General
                </textPath>
            </text>
            <desc id="Secretaria2">Secretaría General de la facultad</desc>
        </g>
        <g>
            <g>
                <title>Información</title>
                <path id="Guardia" class="rectorado poppuphelper" d="M 506.00,98.00
           C 506.00,98.00 506.00,151.00 506.00,151.00
             506.00,151.00 476.00,151.00 476.00,151.00
             476.00,151.00 476.00,98.00 476.00,98.00
             476.00,98.00 506.00,98.00 506.00,98.00 Z" role="img" addinfo="Guardia" />
                <text class="texto poppuphelper" addinfo="Guardia" y="100" x="35" tabindex="48">
                    <textPath xlink:href="#Secretaria" startOffset="90%">
                        Guardia
                    </textPath>
                </text>
                <desc id="Guardia2">Información general y seguridad</desc>
            </g>

            <!--Puertas Rectorado-->
            <path id="PuertaImS" fill="none" stroke="black" stroke-width="1" d="M 417.84,109.51
            C 417.84,109.51 417.84,110.25 417.84,110.25
            417.84,110.25 397.84,110.25 397.84,110.25
            397.84,110.25 397.84,109.51 397.84,109.51
            397.84,109.51 417.84,109.51 417.84,109.51 Z
            M 397.84,109.46
            C 397.88,102.56 408.58,92.00 417.77,91.94" />
            <path id="PuertaJT" fill="none" stroke="black" stroke-width="1" d="M 183.84,184.62
            C 183.84,184.62 183.84,204.62 183.84,204.62
            183.84,204.62 183.02,204.63 183.02,204.63
            183.02,204.63 183.03,184.63 183.03,184.63
            183.03,184.63 183.84,184.62 183.84,184.62 Z
            M 183.16,184.43
            C 172.95,184.47 163.95,193.72 163.83,204.40" />
            <path id="PuertaMHD" fill="none" stroke="black" stroke-width="1" d="M 183.83,267.83
            C 183.83,267.83 183.83,287.83 183.83,287.83
            183.83,287.83 183.01,287.84 183.01,287.84
            183.01,287.84 183.02,267.84 183.02,267.84
            183.02,267.84 183.83,267.83 183.83,267.83 Z
            M 182.98,287.83
            C 173.48,287.80 163.01,279.41 162.92,268.13" />
            <path id="PuertaBR" fill="none" stroke="black" stroke-width="1" d="M 131.40,204.70
            C 131.40,204.70 131.40,205.44 131.40,205.44
            131.40,205.44 111.40,205.44 111.40,205.44
            111.40,205.44 111.40,204.70 111.40,204.70
            111.40,204.70 131.40,204.70 131.40,204.70 Z
            M 131.50,223.81
            C 124.00,223.81 111.31,212.00 111.38,205.56" />
            <path id="PuertaCF" fill="none" stroke="black" stroke-width="1" d="M 184.92,184.50
            C 184.92,184.50 184.92,204.50 184.92,204.50
            184.92,204.50 184.11,204.51 184.11,204.51
            184.11,204.51 184.11,184.51 184.11,184.51
            184.11,184.51 184.92,184.50 184.92,184.50 Z
            M 184.97,184.41
            C 193.88,184.54 205.31,193.66 205.19,204.35" />
            <path id="PuertaRectorado" fill="none" stroke="black" stroke-width="1" d="M 418.14,204.83
            C 418.14,204.83 418.14,205.57 418.14,205.57
            418.14,205.57 398.14,205.57 398.14,205.57
            398.14,205.57 398.14,204.83 398.14,204.83
            398.14,204.83 418.14,204.83 418.14,204.83 Z
            M 418.45,255.21
            C 418.45,255.21 418.48,224.50 418.48,224.50
            407.02,224.50 398.02,217.14 398.10,206.23
            398.16,206.04 398.19,205.85 398.20,205.65" />
            <path id="PuertaSecretaria" fill="none" stroke="black" stroke-width="1" d="M 294.39,204.82
            C 294.39,204.82 294.39,205.56 294.39,205.56
            294.39,205.56 274.39,205.56 274.39,205.56
            274.39,205.56 274.39,204.82 274.39,204.82
            274.39,204.82 294.39,204.82 294.39,204.82 Z
            M 294.45,254.96
            C 294.45,254.96 294.48,224.25 294.48,224.25
            283.02,224.25 274.02,216.89 274.10,205.98
            274.16,205.79 274.19,205.60 274.20,205.40" />
            <path id="Puerta2piso" fill="none" stroke="black" stroke-width="1" d="M 444.89,56.07
            C 444.89,56.07 444.89,76.07 444.89,76.07
            444.89,76.07 444.07,76.08 444.07,76.08
            444.07,76.08 444.08,56.08 444.08,56.08
            444.08,56.08 444.89,56.07 444.89,56.07 Z
            M 445.10,76.08
            C 453.31,75.81 464.26,66.26 464.44,56.17M 418.19,56.02
            C 418.19,56.02 444.10,56.02 444.10,56.02" />
            <path id="Puerta2piso2" fill="none" stroke="black" stroke-width="1" d="M 485.39,56.05
            C 485.39,56.05 485.38,76.05 485.38,76.05
            485.38,76.05 484.57,76.06 484.57,76.06
            484.57,76.06 484.57,56.06 484.57,56.06
            484.57,56.06 485.39,56.05 485.39,56.05 Z
            M 484.50,75.69
            C 475.00,75.65 464.53,67.26 464.44,55.99M 511.62,56.12
            C 511.62,56.12 485.34,56.16 485.34,56.16" />
            <path id="PuertaAlmacen" fill="none" stroke="black" stroke-width="1" d="M 293.63,417.07
            C 293.63,417.07 293.62,437.07 293.62,437.07
            293.62,437.07 292.81,437.08 292.81,437.08
            292.81,437.08 292.81,417.08 292.81,417.08
            292.81,417.08 293.63,417.07 293.63,417.07 Z
            M 292.54,436.76
            C 283.04,436.73 272.57,428.33 272.48,417.06" />
    </svg>
</body>

</html>