<h1 class="centro ">Bienvenidos</h1>

<h2 class="centro">Lista de Usuarios</h2>
<img class="logoTamano center-block" alt="Apple" src="fondo1.jpg" width="30%" height="20%">

<ul>
    <% for(var i=0; i<usuarios.length; i++) {%>
        <li class="usuarios">
            <%= usuarios[i].nombre %>
        </li>

        <% for(var j=0; j<usuarios[i].pokemons.length; j++) {%>
            <li class="center-block pokemon"><pre class="ancho-pre center-block pokemon">
                    <%= usuarios[i].pokemons[j].nombre %><br><img class="center-block"src="images/<%=usuarios[i].pokemons[j].url %>" width="100px" height="100px" >
                    
                    
               </pre></li>
            <% } %>
                <% } %>
</ul>