<body>

    <h1 class="centro">Login</h1>
    <p class="alinear-login">Ingrese sus datos:</p>
    <form action="auth/login" method="post" class="alinear-login">
        Usuario:
        <input type="text" name="usuario" class="form-control tamano-input" placeholder="Username">
        <br> Password:
        <input type="text" name="password" class="form-control tamano-input" placeholder="Password">
        <br>
        <input type="submit" value="Ingresar" class="btn btn-primary">
    </form>
</body>