<body>

    <h1 class="centro">Ingreso de Pokemons</h1>
    <p class="alinear-login">Ingrese un nuevo pokemon:</p>

    <form action="Pokemons/guardarPokemon" method="post" class="alinear-login" enctype="multipart/form-data">
        Nombre:
        <input type="text" name="nombre" class="form-control tamano-input" placeholder="Username">
        <br> Foto:
        <input type="file" name="fotoPokemon">
        <input type="submit" value="Subir" class="btn btn-primary">
    </form>

</body>